.header-index {
    background: linear-gradient(to right, aqua, rgb(0, 128, 255));
    color: white;
}

.header-index div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2%;
}

.header-index-link{
    width: 25%;
}

.header-index-logo-principal-img {
    aspect-ratio: 28/9;
    width: 100%;
    transition:.3s;
}

.header-index-logo-principal-img:hover {
    animation: rotateAnimation 1s;
}


@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.div-search-and-cart{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}